body {
  background-color: darkolivegreen;
  color: beige;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

div {
  text-align: center;
}

.upperLinks {
  text-align: left;
  font-size: larger;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}



#mainPageLink {
  margin-left: 40px;
  font-weight: 500;
  font-size: x-large;
  color: beige;
  text-decoration: none;
}


.logIn_signUp {
  text-align: right;
}

#logIn {
  margin-right: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: beige;
  text-decoration: none;
}

#signUp {
  margin-right: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: beige;
  text-decoration: none;
}

#myPage {
  margin-right: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: beige;
  text-decoration: none;
}


#mainDove {
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#mainSlogan {
  font-size: 50px;
}

.mainContent {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 70%;
  height: 80%;
  background-color : beige;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
	align-self: auto;
  align-items: center; /* 가로 방향으로 중앙 정렬 */
}

.donatedBox {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 70%;
  height: 400px;
  background-color : beige;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
	align-self: auto;
  align-items: center; /* 가로 방향으로 중앙 정렬 */
}

/*       라디오버튼      */


form {
  display: flex;
  flex-wrap: wrap;
}

.buttonContainer label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  font-size: 20;
  margin-bottom: 0.375em;
}

.buttonContainer input {
  position: absolute;
  left: -9999px;
}

.buttonContainer input:checked + span {
  background-color: #7b934b; /* Equivalent of mix(#fff, $primary-color, 84%) */
  color: beige;
}

.buttonContainer input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em darkolivegreen; /* $primary-color */
}

.buttonContainer span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  padding: 7px 10px;
}

.buttonContainer span:hover {
  background-color: #7b934b; /* Equivalent of mix(#fff, $primary-color, 84%) */
  color: beige;
}

.buttonContainer span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em darkolivegreen; /* $primary-color */
}

.buttonContainer {
  width: 90%;
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row; 
  color: darkolivegreen;
  gap: 30px;
}

.buttonContainer button {
  flex: none;
}


/*체크박스*/

.donationType {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 20px;
  height: 18px;
  align-items: center;
}

.donationType .checkbox {
  margin: 0 0 12px 0;
  display: table;
  cursor: pointer;
  align-items: center;
}

.donationType .checkbox.inline {
  margin: 0 12px 0 0;
  display: inline-block;
}

.donationType .checkbox input {
  display: none;
}

.donationType .checkbox input + span {
  color: #6C7486;
  height: 22px;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  display: block;
  padding-left: 18px;
}

.donationType .checkbox input + span:not(:empty) {
  padding-left: 30px;
}

.donationType .checkbox input + span:before,
.donationType .checkbox input + span:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  transition: transform .3s ease, opacity .2s ease, background .2s ease;
}

.donationType .checkbox input + span:before {
  width: 16px;
  height: 16px;
  border: 2px solid #CDD9ED;
  background: #fff;
  border-radius: 4px;
  transition: background .3s ease, border-color .3s ease;
}

.donationType .checkbox input:checked + span:before {
  background: darkolivegreen;
  border-color: darkolivegreen;
}

.donationType .checkbox input + span:after {
  width: 5px;
  height: 9px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  left: 6px;
  top: 3px;
  transform: rotate(20deg);
  opacity: 0;
}

.donationType .checkbox input:checked + span:after {
  opacity: 1;
  transform: rotate(43deg) translate(1px, 0);
}

.donationType .checkbox:hover input:not(:checked) + span:before {
  border-color: darkolivegreen;
}

.qrcodeGeneration {
  margin-top:80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.qrcodeImage {
  margin: auto;
}

#qrcode {
  width: 200px;
}

#qrcodeInput {
  width: 40%;
  margin: auto;
  margin-top: 20px;
}

#localDataInput {
  width: 40%;
  margin: auto;
}

/*login, signup*/

#signupSlogan {
  font-size: 30px;
}

/*mobile*/

.upperLinksMobile {
  text-align: left;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#mainPageLinkMobile {
  margin-left: 5%;
  font-weight: 500;
  font-size: 10;
  color: beige;
  text-decoration: none;
}


#codeInput {
  width: 70%;
}

.codeForTest {
  margin: auto;

}

#walletAddressContainer {
  margin-top: 20px;
  font-size: 16px;
}
